.platen-brand {
    // Hide the Title except for screen readers
    span {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
    // Make the title logo visible and obvious
    img {
      margin-left: auto; 
      margin-right: auto; 
      height: 7em;
      padding: 0%;
      margin: 0px;
    }
  }
  